* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: white;
    background-color: #27ff32;
    font-family: lato, sans-serif;
    margin-top: 15px;
}

.app-tareas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fime-logo-contenedor {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fime-logo {
    width: 400px;
    height: 185px;
}

/*Lista de tareas*/

.lista-principal-tareas {
    width: 600px;
    min-height: 500px;
    background-color: #d0d0e5;
    padding: 25px;
    margin: 10px;
    justify-content: center;
    border-radius: 26px;
}