.titulo {
    color: rgb(0 25 145 / 94%);
    width: 300px;
    height: 50px;
    background-color: rgb(17 30 64 / 46%);
}

#seleccionar-heroe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetaHeroes {
    width: 125px;
    height: 35px;
    background: #008585;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
}

input {
    display: none;
}